.global-layout { min-height: 100vh; display: flex; flex-direction: column; position: relative; }

.global-layout .layout-footer { width: 100%; place-self: end; margin-top: auto; }

.dropdown:hover .dropdown-menu { display: flex; }

.dropdown:hover::after { position: absolute; content: ""; width: 100%; top: 110%; height: 2px; background: black; left: 0; }

.global-container { width: 90%; margin: 0 auto; }

@media (min-width: 1240px) { .global-container { width: 1200px; } }

.nav .nav-div { width: 180px; left: -50%; box-shadow: 0 5px 15px rgba(8, 8, 8, 0.2); }

.nav .nav-active { position: relative; }

.nav .nav-active::after { position: absolute; content: ""; width: 100%; top: 110%; height: 2px; background: black; left: 0; }

.videos-inner-container { width: 100%; display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 2fr)); gap: 20px; justify-content: space-between; }

.videos-inner-container .video-sample { width: 100%; height: 350px; aspect-ratio: aspect-ratio; }

.inline-link { text-decoration: none; color: #0000ee; }

.markdown a:link { color: internal value; text-decoration: underline; cursor: pointer; }

.markdown a:visited { color: internal value; text-decoration: underline; cursor: auto; }

.markdown a:link:active { color: internal value; }

.markdown a:visited:active { color: internal value; }

.markdown h1 { display: block; font-size: 2em; margin-top: 0.67em; margin-bottom: 0.67em; margin-left: 0; margin-right: 0; font-weight: bold; }

.markdown h2 { display: block; font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em; margin-left: 0; margin-right: 0; font-weight: bold; }

.markdown h3 { display: block; font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; font-weight: bold; }

.markdown h4 { display: block; margin-top: 1.33em; margin-bottom: 1.33em; margin-left: 0; margin-right: 0; font-weight: bold; }

.markdown h5 { display: block; font-size: 0.83em; margin-top: 1.67em; margin-bottom: 1.67em; margin-left: 0; margin-right: 0; font-weight: bold; }

.markdown h6 { display: block; font-size: 0.67em; margin-top: 2.33em; margin-bottom: 2.33em; margin-left: 0; margin-right: 0; font-weight: bold; }

.markdown li { display: list-item; }

.markdown ol { display: block; list-style-type: decimal; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; padding-left: 40px; }

.markdown p { display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; }

.markdown ul { display: block; list-style-type: disc; margin-top: 1em; margin-bottom: 1 em; margin-left: 0; margin-right: 0; padding-left: 40px; }

.markdown table, .markdown th, .markdown td { border: 1px solid black; padding: 7px; }

.markdown table th { text-align: left; }

@font-face { font-family: "GraphikBold"; src: url("/assets/fonts/GraphikBold.otf") format("opentype"); }

@font-face { font-family: "GraphikThin"; src: url("/assets/fonts/GraphikThin.otf") format("opentype"); }

@font-face { font-family: "Graphik"; src: url("/assets/fonts/GraphikRegular.otf") format("opentype"); }

/*# sourceMappingURL=styles.css.map */